* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    background: #220b0b;
}

header {
    background-color: #3d0000;
    color: #eeeeee;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #950101;
    text-align: center;
    border-radius: 5px;
    
}

nav li {
    display: inline-block;
    
}

 nav li a {
    display: inline-block;
    color: #eeeeee;
    text-decoration: none;
    padding: 15px;
}

nav li a:hover{
    background-color: #3d0000;
}

.dropdown-menu{
    position: absolute;
    box-shadow: #aab1bc;
    display: none;
}

.dropdown-menu a{
    display: block;
    color: #eeeeee;
    background: #950101;
    background-color: #950101;
}
.dropdown:hover .dropdown-menu{
    display: block;
}

.conteudo-principal {
    color: #eeeeee;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
}

.conteudo-principal-escrito {
    color: #eeeeee;
    flex-direction: top;
    align-items: center;
    gap: 32px;
    text-align: center;
}

.conteudo-principal-escrito-titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 70px;
    color: #eeeeee;
}

.headline {
    color: #eeeeee;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

#items {
    width: 650px;
}

#items .item {
    display: flex;
    padding: 10px;
    margin: 15px 0;
    font-size: 1.2rem;
    color: #eeeeee;
}

#product-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#product {
    width: 100%;
    padding: 50px;
}

#items {
    width: 90%;
}

.item {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rodape {
    background: #3d0000;
    color: #eeeeee;
    text-align: center;
    margin: 20px;
    padding: 20px;
}
