* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    background: #220b0b;
}

header {
    background-color: #3d0000;
    color: #eeeeee;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #950101;
    text-align: center;
    border-radius: 5px;
    
}

nav li {
    display: inline-block;
    
}

 nav li a {
    display: inline-block;
    color: #eeeeee;
    text-decoration: none;
    padding: 15px;
}

nav li a:hover{
    background-color: #3d0000;
}

.dropdown-menu{
    position: absolute;
    box-shadow: #aab1bc;
    display: none;
}

.dropdown-menu a{
    display: block;
    color: #eeeeee;
    background: #950101;
    background-color: #950101;
}
.dropdown:hover .dropdown-menu{
    display: block;
}

.conteudo-principal {
    color: #eeeeee;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
}

.conteudo-principal-escrito {
    color: #eeeeee;
    flex-direction: top;
    align-items: center;
    gap: 32px;
    text-align: center;
}

.conteudo-principal-escrito-titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 70px;
    color: #eeeeee;
}

.conteudo-secundario {
    display:flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 45px;
    margin-left: 50px;
}

.conteudo-secundario-titulo {
    background: floralwhite;
    border-radius: 15px;
    padding: 15px;
    margin-right: 0;
    margin-left: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400px;
    font-size: 25px;
    color: #950101;
    text-align: center;
}

.conteudo-secundario-paragrafo {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100px;
    font-size: 25px;
    color: #eeeeee;
}

.rodape {
    background: #3d0000;
    color: #eeeeee;
    text-align: center;
    margin: 20px;
    padding: 20px;
}
